body{
    background-color: #000000;
}

ul,li{
    display: block;
    padding: 0;
    margin: 0;
}

.header{
    padding-top: 45px;
}

.logo{
    background-color: #3fbed9;
    text-align: center;
    width: 73px;
    height: 73px;
    border: 0;
    border-radius: 100%;
    color: black;
    display: block;
    font-size: 50px;
    font-family: 'Indie Flower', cursive;
}

.logo__img{}

.menu{
    margin-top: 25px;
}

.menu__item{
    display: block;
    width: auto;
    margin-left: 25px;
}

.menu__item a{
    font-size: 15px;
    color: #ffffff;
    text-transform: uppercase;
}

.contacts{
    margin-top: 25px;
}

.contacts__name{
    margin-top: 2px;
    color: #ffffff;
}

.contacts__number{
    margin-top: -26px;
    margin-left: 50px ;
    text-transform: uppercase;
    color: #ffffff;
}

.contacts__vk{
    width: 50px;
    height: 50px;
}

.portfolio{
    padding-top: 180px;
}

.port{
    width: 500px;
}

.port__title{
    color: #ffffff;
    font-size: 70px;
    font-family: 'Indie Flower', cursive;
}

.port__skills{
    margin-top: 30px;
    color: #faf04b;
    font-family: 'Indie Flower', cursive;
    font-size: 35px;
}

.port__ul{

}

.white{
    color: white;
}

.port__button{
    margin-top: 43px;
    font-size: 32px;
    font-family: 'Indie Flower', cursive;
    background-color: #faf04b;
    height: 50px;
    width: 250px;
    border-radius: 10px;
    border: 0;
}

.block{}

.block__img{}